<html>
  <head>
    <title>
      Live Covid-19 Tracker
    </title>
  </head>
  <body>
    <% var upperCaseFirst = districtName[0].toUpperCase(); for(var i = 1; i <
    districtName.length ; i ++){ upperCaseFirst =
    upperCaseFirst.concat(districtName[i]) }; %> <% var flag = false; %> <%
    districtWiseData.forEach(function(primaryElement){
    primaryElement["districtData"].forEach(function(secondaryElement){
    if(secondaryElement["district"] === upperCaseFirst.trim()) { flag = true; %>
    <h1><%= secondaryElement["district"] %></h1>
    <h1><%= secondaryElement["confirmed"] %></h1>
    <% } }) }) %> <% if(flag === false){ console.log(districtName);
    console.log("No cases reported ") } %>
  </body>
</html>
