<html>
  <head>
    <title>
      Live Covid-19 Tracker
    </title>
  </head>
  <body>
    <a href="https://www.hitwebcounter.com" target="_blank">
      <img
        src="https://hitwebcounter.com/counter/counter.php?page=7282764&style=0006&nbdigits=5&type=page&initCount=1546"
        title="User Stats"
        Alt="PHP Hits Count"
        border="0"
      />
    </a>
    <% var upperCaseFirst = districtName[0].toUpperCase(); for(var i = 1; i <
    districtName.length ; i ++){ upperCaseFirst =
    upperCaseFirst.concat(districtName[i]) }; %> <% var flag = false; %> <%
    districtWiseData.forEach(function(primaryElement){
    primaryElement["districtData"].forEach(function(secondaryElement){
    if(secondaryElement["district"] === upperCaseFirst.trim()) { flag = true; %>
    <h1><%= secondaryElement["district"] %></h1>
    <h1><%= secondaryElement["confirmed"] %></h1>
    <% } }) }) %> <% if(flag === false){ console.log(districtName);
    console.log("No cases reported ") } %>
  </body>
</html>
