<html>
  <head>
    <title>
      Live Covid-19 Tracker
    </title>
  </head>
  <body>
    <% var temp = 0, increaseValue = 0; %> <%
    stateData.forEach(function(element){ if(element["State UT"] === stateName){
    %>
    <h1><%= element["State UT"] %></h1>
    <% for(keys in element){ if(keys !== "State UT"){ var values =
    element[keys]; increaseValue = values - temp ; temp = values; } }%>
    <h1><%= values %> - <%= increaseValue %></h1>
    <% } }) %>

    <form action="/stateSearch/districtSearch" method="POST">
      <input
        type="text"
        placeholder="Enter the name of the district"
        name="districtName"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
